<h1>Composite Components</h1>

<h2>Demonstrates SearchFormComponent, LinkSubmitButtonComponent,
 and the RenderComponent method to make composite components.</h2>
<hr/>
#component(SearchForm with "actionToFire=index.rails" "FormToSubmit=searchForm")
<hr/>
#if ($searchCriteria)
You searched for: $searchCriteria
<hr/>
#end

#blockcomponent(Javascript with "Id=defaultFocus")
#all
    Event.observe(window, 'load', function() { $('searchCriteria').focus(); });
#end
#end
