<?xml version="1.0" encoding="utf-8" ?> 
<configuration>

    <configSections>
		<section name="aspview"
                 type="Castle.MonoRail.Views.AspView.AspViewConfigurationSection, Castle.MonoRail.Views.AspView" />
    </configSections>

	 <appSettings>
        <add key="web.physical.dir" value="../../../AspViewTestSite" />
        <add key="web.virtual.dir" value="/" />
	 </appSettings>

	<aspview>
		<reference assembly="Castle.MonoRail.Framework"/>
	</aspview>
	
</configuration>
