<h1>Breadcrumb Examples</h1>


<style>
   .nodeclass
   {
   	font-family:Comic Sans MS;
   	font-size:large;
   }
   .rootclass
   {
    font-style:italic;
   }
</style>
component(Breadcrumb)
#component(Breadcrumb)
<br /><hr /><br />

component(Breadcrumb with "PathSeparator=&amp;nbsp;&amp;loz;&amp;rArr;&amp;loz;&amp;nbsp;")    
#component(BreadcrumbViewComponent with "PathSeparator=&nbsp;&loz;&rArr;&loz;&nbsp;")    
<br /><hr /><br />
component(Breadcrumb with "cssClassNode=nodeclass" "cssClassRoot=rootclass" "RenderCurrentNodeAsLink=true"  with "PathSeparator=&amp;nbsp;&amp;ni;&amp;nbsp;")    
#component(BreadcrumbViewComponent with "cssClassNode=nodeclass" "cssClassRoot=rootclass" "RenderCurrentNodeAsLink=true"  with "PathSeparator=&nbsp;&ni;&nbsp;")    
<br /><hr /><br />
component(Breadcrumb with "ShowToolTips=false" "ShowRoot=false")    
#component(BreadcrumbViewComponent with "ShowToolTips=false" "ShowRoot=false")    
<br /><hr /><br />
component(Breadcrumb with "PathSeparator=&amp;nbsp;&amp;raquo;&amp;nbsp;")    
#component(BreadcrumbViewComponent with "PathSeparator=&nbsp;&raquo;&nbsp;")    
<br /><hr /><br />

