<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section 
			name="localization" 
			type="Castle.Components.Localization.MonoRail.Configuration.LocalizationConfigurationSectionHandler, Castle.Components.Localization.MonoRail"/>
	</configSections>
	
	<localization>
		<cultures>
			<culture>fr-FR</culture>
			<culture>en</culture>
		</cultures>
	</localization>
	
</configuration>