<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("0e766536-f400-419b-ab04-a9ea12dcccba");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
