/* standard elements */

* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
body {
	background: #FFF url(/media/bg.gif) repeat-x;
	color: #444;
	font: 12px "Lucida Sans Unicode",Verdana,sans-serif;
	padding-top: 40px;
}
p,code,ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
}
li {
	list-style: none;
}
h1 {
	font-size: 1.7em;
}
code {
	background: url(/media/bgcode.gif);
	border: 1px solid #F0F0F0;
	border-left: 6px solid #F06;	
	color: #444;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
blockquote {
	background: #FBFCF5;
	border-bottom: 1px solid #EED;
	border-top: 1px solid #EED;
	color: #444;
	display: block;
	font: normal 0.9em Verdana,sans-serif;
	margin-bottom: 12px;
	padding: 12px;
}
h2 {
	font: normal 1.3em "Trebuchet MS",sans-serif;
	color: #F06;
}

h3 {
	font: normal .8em "Trebuchet MS",sans-serif;
	color: #F06;
}
/* misc */
.clearer {
	clear: both;
}

/* header */
.header {
	background: url(/media/stripes.gif) no-repeat;
	border-bottom: 1px solid #EEE;
	height: 160px;
	margin-bottom: 24px;
}
.header h1 {
	color: #222;
	font: normal 3em sans-serif;
	margin-top: 40px;
	text-align: center;
}
.header h2 {
	border-top: 1px solid #EEE;
	color: #666;
	text-align: right;
}
.header h2 span {
	background: #222;
	color: #EEE;
	padding: 0 6px;
}

/* left side (main content) */
.left {
	margin: 0 42% 20px 3%;
}
.content .descr {
	color: #06F;
	font-size: 1.2em;
	margin-bottom: 6px;
}
.content li {
	list-style: url(/media/li.gif);
	margin-left: 18px;
}
.content h1 {
	font-size: 2.4em;
	margin-bottom: 4px;
}
.content a,.footer a {
	color: #F06;
	text-decoration: none;
}
.content a:hover,.footer a:hover {
	color: #444;
	border-bottom: 1px solid #F06;
}

/* nav & subnavigation */
.nav,.right {
	margin-bottom: 20px;
	position: absolute;
	top: 40px;
}	

/* navigation */
.nav {
	right: 23%;
	text-align: center;
	width: 17%;
}
.nav .logo {
	background: url(/media/power-by-we.png) no-repeat center top;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	height: 159px;	
}

.nav h1 {
	color: #F60;
	margin: 12px 0;
}
.nav li {
	border-bottom: 1px solid #EEE;
}
.nav li a {
	color: #888;
	display: block;
	font: normal 1.4em serif;
	padding: 8px 0;
}
.nav li a:hover {
	background: #FAFAFA;
	color: #F06;
}

/* subnav */
.right {
	background: #222;
	right: 3%;
	width: 18%;
}
.subnav {
	padding: 12px 12px 0;
}
.subnav h1 {
	color: #F06;
	font-size: 1.4em;
	height: 20px;
	margin-left: 8px;
}
.subnav ul {
	margin: 0 0 16px;
	padding: 0;
}
.subnav li { 
	list-style: none;
	margin: 0;
	border-bottom: 1px solid #333;
}
.subnav li a {	
	color: #777;
	display: block;
	font-size: 0.9em;
	padding: 3px 6px 3px 8px;
	text-decoration: none;
}
.subnav li a:hover {
	color: #DDD;
}

/* round edges */
.roundtl,.roundtr,.roundbl,.roundbr {
	background: url(/media/round.gif);
	height: 16px;
	width: 14px;
}
.roundtl,.roundbl {
	float: left;
}
.roundtr,.roundbr {
	float: right;
}
.roundtr {
	background-position: right top;
}
.roundbr {
	background-position: right bottom;
}
.roundbl {
	background-position: left bottom;
}

/* footer */
.footer {
	color: #666;
	border-top: 1px solid #EEE;
	font: normal 1em Verdana,sans-serif;
	margin: 0 3%;
	padding: 8px 6px;
}

#grid
{
	border: dashed 1px #abc;
	width:70%;
}

#grid #item
{
	background-color: #f7f5f2;
}

#grid #header
{
	border: dashed 1px #ccc;	
}

#grid #alternateItem
{
	background-color: #ffffff;
}

#child-content
{
	width: 82%;
}

fieldset
{
}
fieldset label
{
	text-align: left;
	width: 100px;
	float: left;
	margin: 0;
	margin-top: 0.3em;
}

fieldset textfield
{
	margin: 3px;
	height: 20px;
	width: 200px;
}

fieldset textarea
{
	margin: 3px;
}

#submit
{
	float: right;
	margin: 0 1em 0 0;
}
#pagination
{
}
#paginationLeft
{
	padding-right: 15px;
	padding-left: 15px;
}
#paginationRight
{
	padding-left: 15px;
}

.chart
{
	font-size: 10px;
	font-family: Arial, Helvetica, Sans-Serif;
}

.chart .title
{
	padding: 0 0 20px 0;
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
}

.chart .bar 
{
	background: #6f96df;
}

.chart .x-label,
.chart .y-label 
{
	font-size: 0.8em;
	color: #999;
}

.chart .plot-area-column,
.chart .plot-area-left-margin,
.chart .plot-area-right-margin
{
	background-color: #f5f5f5;
	border-top-style: solid;
}

.chart .plot-area-column,
.chart .plot-area-left-margin,
.chart .plot-area-right-margin,
.chart .gridline
{
	border-color: #999;
}

.chart .gridline 
{
	border-top-style: dotted;
}

.chart .plot-area-right-margin
{
	border-right-style: solid;
}

.chart .plot-area-left-margin
{
	border-left-style: solid;
}

.chart .x-unit-label
{
	padding-top: 2em;
}

.chart .y-unit-label
{
	padding-right: 4.5em;
}

.burndown .gridline 
{
	border-top-style: dotted;
	border-color: #f9d3a9;
}

.chart .data-label 
{
	color: #265098;
	font-size: 0.7em;
}

.custom-chart
{
	font-size: 10px;
}

.custom-chart .title
{
	padding: 0 0 15px 0;
	font-weight: bold;
	text-align: left;
	color: #cc6600;
}

.custom-chart .bar
{
	background: #ffcc66;
}

.custom-chart .x-label,
.custom-chart .y-label 
{
	font-size: 0.6em;
}

.custom-chart .plot-area-column,
.custom-chart .plot-area-left-margin,
.custom-chart .plot-area-right-margin,
.custom-chart .grid-line
{
	border-color: #000;
}

.custom-chart .plot-area-column,
.custom-chart .plot-area-left-margin,
.custom-chart .plot-area-right-margin
{
	border-top-style: dotted;
}

.custom-chart .plot-area-left-margin
{
	border-left-style: solid;
}

.custom-chart .gridline 
{
	border-top-style: dotted;
}

.custom-chart .x-unit-label
{
	padding-top: 20px;
	font-size: 0.8em;
	color: #cc6600;
}

.custom-chart .y-unit-label 
{
	padding-right: 40px;
	font-size: 0.8em;
	color: #cc6600;
}

.custom-chart .data-label 
{
	color: #cc6600;
	font-size: 0.8em;
}

.horizontalCheckboxList label,
.verticalCheckboxList label
{
	color:black;
}

.narrowHorizontalCheckboxList
{
	border:solid 1px gray;
	padding:3px;
	width:250px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space:nowrap;
}

.shortVerticalCheckboxList
{
	border:solid 1px gray;
	padding:3px;
	height:63px;
	width:130px;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space:nowrap;
}

.crazyCheckboxList
{
	background-color:Black;
	padding:20px;
	overflow-x: hidden;
}

.crazyCheckboxList div,
.crazyCheckboxList span
{
	padding:5px;
	background-color:Fuchsia;
	font-size:15px;
	color: Yellow;
}

.crazyCheckboxList label
{
	background-color:Green;
	padding-left: 20px;
}

.crazyCheckboxList input
{
	vertical-align:middle;
}