<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net"
				 type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="monoRail"
				 type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
    <section name="brail"
				 type="Castle.MonoRail.Views.Brail.BrailConfigurationSection, Castle.MonoRail.Views.Brail" />
    <sectionGroup name="applicationSettings"
					  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
    </sectionGroup>
  </configSections>

  <monoRail>
    <controllers>
      <assembly>Castle.MonoRail.ViewComponents.TestSite</assembly>
      <assembly>Castle.MonoRail.ViewComponents</assembly>
    </controllers>
    <viewEngine
      		viewPathRoot="Views"
			    xhtmlRendering="true"
			    customEngine="Castle.MonoRail.Views.Brail.BooViewEngine, Castle.MonoRail.Views.Brail" />
    <routing>
      <rule>
        <pattern>/(?'controller'\w+)/(?'id'\d+)/(?'action'\w+)\.rails(\?(?'queryString'.*))?</pattern>
        <replace><![CDATA[ /${controller}/${action}.rails?id=${id}&${queryString} ]]></replace>
      </rule>
    </routing>
  </monoRail>

  <brail
		debug="true"
		saveToDisk="true"
		saveDirectory="BrailGen"
		batch="false"
		commonScriptsDirectory="CommonScripts">
    <reference assembly="Castle.MonoRail.Framework"/>
  </brail>

  <system.web>
    <httpHandlers>
      <add verb="*"
				 path="*.rails"
				 type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
    </httpHandlers>

    <httpModules>
      <add name="routing"
				 type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework" />
      <add name="monorail"
				 type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" />
    </httpModules>
  </system.web>

</configuration>
