#set($title="About Venero")
#set($menu_about=$Dict.N("id","menuselected"))

<h1>Vanero</h1>
<div class="text">
  The template is written in <a href="http://validator.w3.org/check?uri=referer">valid XHTML</a>, and <a href="http://jigsaw.w3.org/css-validator/check/referer">valid CSS</a>.
  The vertical 'VANERO' is a seperate image, so you can place a gif with your own text there.
  <br/><br/>
  I am Teun van Vegchel, a 17 year old male from Ysselsteyn, the Netherlands. I have been designing webpages since I was 14 years old. Thesedays, I'm working for a webdeveloping company, which is a great impulse for my experience and professionality.
  <span class="note">
    This template is 100% yours after you've downloaded it. I don't need a link to my name or something. Just use it the way you like to.
  </span>
  If you'd like to get into contact with me, feel free to send me a <a href="mailto:azera@vanvegchel.net">email</a>.
</div>
