
<div class="article">
	<h2>Cras rhoncus facilisis odio</h2>
	<p>
		Donec euismod vehicula lacus. Suspendisse vitae leo. Nunc at arcu quis felis faucibus pretium. Morbi vehicula lacus adipiscing tellus. Praesent et diam. Sed sed orci a magna dapibus hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus non arcu. Sed dolor diam, cursus ac, iaculis quis, gravida quis, urna. Nam vel dui in erat eleifend dapibus. In suscipit orci sit amet arcu. Vivamus hendrerit nulla quis lectus. Quisque eros est, volutpat eu, elementum quis, lacinia ac, orci. Donec ac tortor.
	</p>
	<p>
		Quisque in est ut augue sollicitudin porta. Fusce blandit. Pellentesque porttitor feugiat erat. Quisque mi. Duis quis nunc id arcu rutrum lacinia. Vivamus auctor hendrerit neque. Sed viverra, enim a rutrum tempus, erat erat luctus ante, varius pretium ante pede ac lorem. Fusce vestibulum libero a wisi. Suspendisse potenti. Morbi vulputate dignissim magna. Nunc sollicitudin. Sed ligula felis, eleifend sed, feugiat a, rutrum ut, risus. Aliquam augue felis, scelerisque non, nonummy nec, aliquam convallis, nibh. Cras rhoncus facilisis odio.
	</p>
</div>
<div class="article">
	<h3>Donec euismod vehicula lacus</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent id justo a libero vehicula posuere. Praesent placerat est ut ligula. Nunc ut erat. Donec at metus eu ante dictum commodo. Curabitur felis. Integer sit amet dui. Nam at arcu nec libero nonummy fermentum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent ac nibh eget dolor sagittis fringilla. Sed odio. Integer a urna et enim convallis congue. Aenean vehicula.
	</p>
</div>

#capturefor(capturefor_left)
<h3>Fusce blandit</h3>
<ul>
	<li>Suspendisse vitae leo</li>
	<li>Libero vehicula posuere</li>
	<li>Est ut ligula</li>
	<li>Felis faucibus pretium</li>
</ul>
<h4>Nunc ut erat</h4>
<p>
	Nunc placerat dapibus arcu. In adipiscing ante ultricies eros. Etiam varius, diam et nonummy laoreet, lorem leo varius eros, eget pulvinar quam dui consequat nisl.
</p>
<p>
	Vestibulum eget lectus id massa tincidunt faucibus. Duis pharetra mi vitae tortor. Nulla pharetra iaculis urna. Donec molestie turpis eu velit. Suspendisse nonummy porttitor diam.
</p>
<p>
	Etiam varius, diam et nonummy laoreet, lorem leo varius eros, eget pulvinar quam dui consequat nisl.
</p>
#end

#capturefor(capturefor_right)
<h3>Nullam id augue</h3>
<p>
	Vivamus urna metus, placerat quis, euismod eget, aliquet ac, sapien.
</p>
<form action="#" method="post">
	<h4><label for="item_a">Cras odio:</label></h4>
	<p class="input">
		<input name="item_a" id="item_a" />
	</p>
	<h4><label for="item_b">Praesent id:</label></h4>
	<p class="input">
		<input name="item_b" id="item_b" />
	</p>
	<h4><label for="item_c">Praesent id:</label></h4>
	<p class="text">
		<textarea name="item_c" id="item_c" rows="10" cols="30"></textarea>
	</p>
	<p class="button">
		<button name="submit" type="submit">Vehicula</button><button name="reset" type="reset">Posuere</button>
	</p>
</form>
#end
