<?xml version="1.0"?>
<configuration>
  
	<configSections>
		<section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework"/>
	</configSections>

	<monorail smtpHost="yoursmtphost" useWindsorIntegration="false">
    <controllers>
      <assembly>Castle.MonoRail.View.Xslt.Example</assembly>
    </controllers>

    <viewEngine viewPathRoot="Views" customEngine="Castle.MonoRail.Framework.View.Xslt.XsltViewEngine, Castle.MonoRail.View.Xslt"/>
	</monorail>
  
	<system.web>
		<httpHandlers>
			<add verb="*" path="*.rails" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework"/>
			
      <!-- block direct user access to template files -->
			<add verb="*" path="*.vm" type="System.Web.HttpForbiddenHandler"/>
			<add verb="*" path="*.boo" type="System.Web.HttpForbiddenHandler"/>
			<add verb="*" path="*.boo" type="System.Web.HttpForbiddenHandler"/>
			<add verb="*" path="*.xslt" type="System.Web.HttpForbiddenHandler"/>
			<remove verb="*" path="*.asmx"/>
		</httpHandlers>
    
		<httpModules>
			<add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework"/>
		</httpModules>
    
		<compilation debug="true"/>

	</system.web>
</configuration>
