<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="aspview"
                 type="Castle.MonoRail.Views.AspView.AspViewConfigurationSection, Castle.MonoRail.Views.AspView" />
	</configSections>
	<appSettings>
		<add key="siteRoot" value="C:\Dev\Solutions\AspView\AspViewTestSite" />
	</appSettings>
	<aspview actionExtension="rails" saveFiles="true" debug="true">
		<reference assembly="TestModel.dll"/>
	</aspview>
</configuration>