<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="aspview"
                 type="Castle.MonoRail.Views.AspView.AspViewConfigurationSection, Castle.MonoRail.Views.AspView" />
	</configSections>

	<aspview siteRoot="C:\Dev\Solutions\AspView\AspViewTestSite" actionExtension="rails">
		<reference assembly="Castle.MonoRail.Framework.dll"/>
		<reference assembly="Castle.MonoRail.Views.AspView.dll"/>
		<reference assembly="TestModel.dll"/>
	</aspview>
</configuration>