<style>
    .grid td
    {
    	border: 1px inset black;
    	padding: 1px 1px 1px 1px;
    	border-spacing: 2px;
    }
    
    .myGrid td
    {
    	border: 2px inset black;
    	padding: 3px 1px 3px 1px;
    	border-spacing: 2px;
    	background-color:Silver;
    	text-align:center;
    }
    
</style>



<h2>With all defaults</h2>
#component(Columns with "source=$Names")

<h2>With four columns </h2>
#component(Columns with "source=$Names" "columns=4")

<h2>With custom item, emptycell & css class</h2>
#blockcomponent(Columns with "source=$Names" "columns=4" "gridCssClass=myGrid")
#item
== <b>$Item</b> ==
#end
#emptycell
<i>(blank)</i>
#end
#end
