<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Fragment Id="MySQLFragment">
    <FeatureRef Id="DefaultFeature">
      <ComponentRef Id="_ActiveWriterMySQLInstall" />
    </FeatureRef>
    <DirectoryRef Id="VSROOTDIR">
      <Directory Id="CommonDirectory" Name="Common7" LongName="common7">
        <Directory Id="IDEDirectory" Name="IDE" LongName="ide">
          <Directory Id="PrivateAssembliesDirectory" Name="PRIVAT~1" LongName="privateassemblies">
            <Component Id="_ActiveWriterMySQLInstall" Guid="ffd0e097-f6e3-523d-8fb7-b5752001ab0d" DiskId="1">
              <File Id="_MySQLProvider1" Name="MYSQLD~1.DLL" LongName="MySql.Data.dll" src="SourceDir\..\..\Assemblies\MySql.Data.dll" Vital="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>


