<configuration>

	<configSections>
		<section name="aspview"
                 type="Castle.MonoRail.Views.AspView.AspViewConfigurationSection, Castle.MonoRail.Views.AspView" />
	</configSections>
 
	<aspview actionExtension="rails" saveFiles="true" autoRecompilation="true"  debug="true">
	</aspview>
</configuration>