<h1>Gravatar Examples</h1>

ViewComponent: (Gravatar with "Email=jamescurran@mvps.org" "Size=80" "DefaultImage=identicon")    (registered email address)  <br/>
#component(Gravatar with "Email=jamescurran@mvps.org" "Size=80" "DefaultImage=identicon")<br/>
<br/>

ViewComponent: (Gravatar with "Email=johnsmith@example.com" "Size=80" "DefaultImage=identicon")    (unregistered email address) <br/>
#component(Gravatar with "Email=johnsmith@example.com" "Size=80" "DefaultImage=identicon") <br/>
 <br/>
Helper: gravatar.CreateImageTag("johnsmith@example.com")      (unregistered email address, no default image) <br/>
${gravatar.CreateImageTag("johnsmith@example.com")} <br/>
 <br/>
Helper: gravatar.CreateImageTag("johnsmith@example.com", 32) <br/>
${gravatar.CreateImageTag("johnsmith@example.com", 32)} <br/>
 <br/>
Helper: gravatar.CreateImageTag("johnsmith@example.com", 40, "wavatar") <br/>
${gravatar.CreateImageTag("johnsmith@example.com", 40, "wavatar")} <br/>
 <br/>
Helper: gravatar.CreateImageTag("johnsmith@example.com", 48, "monsterid") <br/>
${gravatar.CreateImageTag("johnsmith@example.com", 48, "monsterid")} <br/>
 <br/>




