<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="tests.src" value="h:\projects\fabio\oss\contributed\castle\svn\MonoRail\Castle.MonoRail.Framework.Tests" />
    <add key="web.physical.dir" value="..\TestSite" />
    <add key="web.virtual.dir" value="/" />
  </appSettings>
</configuration>